target/
.idea/
.vscode/
*.iml
*.log
application-local.yml
.gradle/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.swp
*.swo
*.~
.settings/
.project
.classpath
.factorypath
*.orig
*.bak
*.tmp
build/
out/
.DS_Store
Thumbs.db
